/*!

 =========================================================
 * Copyleft @teguhrianto22
 =========================================================

 */
header {
	background-color: rgba(255, 255, 255, 0.897);
	backdrop-filter: blur(5px);
	z-index: 99;
	box-shadow: 0px 0px 25px -15px #333;
}

ul {
	gap: 20px;
}
ul li {
	border: 3px solid #20bf6b !important;
	border-radius: 10px;
	transition: 0.2s ease-in-out;
}
ul li a {
	color: #20bf6b;
}
ul li:hover {
	box-shadow: 0px 0px 10px 4px #dddddd;
	scale: 1.02;
	border-color: #333 !important;
}
ul li:hover a {
	color: #333;
}

body {
	color: #333333;
	font-size: 1rem;
	font-family: "Maven Pro", Arial, sans-serif;
	font-weight: normal;
	background-image: url("../img/white-bg.jpg");
	background-size: cover;
	min-height: 100vh;
	position: relative;
	overflow-y: auto;
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
	body {
		height: auto;
		min-height: 100vh;
		overflow: visible;
	}
}
@media only screen and (max-width: 768px) {
	body {
		height: auto;
		min-height: 100vh;
		overflow: visible;
		background-color: #fff;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-transform: none !important;
	font-weight: 500 !important;
}

.btn-primary {
	background: #f50c1a;
	border-color: #f50c1a;
}
.btn-primary:hover,
.btn-primary:focus {
	background: #f50c1a;
	border-color: #f50c1a;
}

.btn.focus,
.btn:focus {
	box-shadow: none;
}

.bg-primary {
	background-color: #f50c1a !important;
}

::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #aaaaaa !important;
}

::-moz-placeholder {
	/* Firefox 19+ */
	color: #aaaaaa !important;
}

:-ms-input-placeholder {
	/* IE 10+ */
	color: #aaaaaa !important;
}

:-moz-placeholder {
	/* Firefox 18- */
	color: #aaaaaa !important;
}

main {
	width: 100%;
}

.brand-info {
	height: 100vh;
	padding: 10%;
}
@media only screen and (max-width: 768px) {
	.brand-info {
		height: 0px;
		padding: 0;
		display: none;
		overflow: hidden;
	}
	.brand-info div {
		height: 0px;
		display: none;
		overflow: hidden;
	}
}

.logo-black img {
	-webkit-filter: invert(1); /* Safari 6.0 - 9.0 */
	filter: invert(1);
	height: auto;
	margin-bottom: 1rem;
}

.login {
	height: 100vh;
	padding: 10%;
	background-color: #fff;
}
@media only screen and (max-width: 768px) {
	.login {
		height: auto;
		min-height: 100vh;
	}
}
.login form {
	width: 100%;
}

.box-white {
	background-color: #fff;
	padding-top: 2rem;
	padding-bottom: 2rem;
}
