/*!

 =========================================================
 * Copyleft @teguhrianto22
 =========================================================

 */
.dashboard {
  border: 1px solid brown;
}

.list img {
  height: 40px;
  width: 60px;
}

.d_link {
  color: #20bf6b !important;
  text-transform: uppercase;
  background: #ffffff;
  padding: 20px;
  border: 4px solid #20bf6b !important;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}
.d_link:hover {
  color: #494949 !important;
  border-radius: 50px;
  border-color: #494949 !important;
  transition: all 0.3s ease 0s;
}

body {
  color: #333333;
  font-size: 1rem;
  font-family: "Maven Pro", Arial, sans-serif;
  font-weight: normal;
  background-image: url("../img/white-bg.jpg");
  background-size: cover;
  min-height: 100vh;
  position: relative;
  overflow-y: auto;
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  body {
    height: auto;
    min-height: 100vh;
    overflow: visible;
  }
}
@media only screen and (max-width: 768px) {
  body {
    height: auto;
    min-height: 100vh;
    overflow: visible;
    padding: 5% 0;
    background-color: #FFF;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: none !important;
  font-weight: 500 !important;
}

.btn-primary {
  background: #F50C1A;
  border-color: #F50C1A;
}
.btn-primary:hover, .btn-primary:focus {
  background: #F50C1A;
  border-color: #F50C1A;
}

.btn.focus, .btn:focus {
  box-shadow: none;
}

.bg-primary {
  background-color: #F50C1A !important;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #aaaaaa !important;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #aaaaaa !important;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #aaaaaa !important;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #aaaaaa !important;
}

main {
  width: 100%;
}

.brand-info {
  height: 100vh;
  padding: 10%;
}
@media only screen and (max-width: 768px) {
  .brand-info {
    height: 0px;
    padding: 0;
    display: none;
    overflow: hidden;
  }
  .brand-info div {
    height: 0px;
    display: none;
    overflow: hidden;
  }
}

.logo-black img {
  -webkit-filter: invert(1); /* Safari 6.0 - 9.0 */
  filter: invert(1);
  height: auto;
  margin-bottom: 1rem;
}

.login {
  height: 100vh;
  padding: 10%;
  background-color: #FFF;
}
@media only screen and (max-width: 768px) {
  .login {
    height: auto;
    min-height: 100vh;
  }
}
.login form {
  width: 100%;
}

.box-white {
  background-color: #FFF;
  padding-top: 2rem;
  padding-bottom: 2rem;
}